.main-div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ab1308;
  border: 1px solid black;
  margin: 10px 6px 30px 5px;
  padding: 8px 20px 5px 10px;

  display: inline-block;
  box-sizing: border-box;
  height: 300px;
  width: 48%;

  margin: 0;
}

/* .main-div1 {
  height: 100%;
  box-sizing: border-box;
  height: 300px;
  width: 50%;
  visibility: hidden;
} */

.main-div:hover:nth-last-of-type(1) {
  color: aqua;
}