.package {
  border: 2px solid #0e4f1f;
  padding: 10px;
  margin: 20px 0;
  width: 80%;
}

.package:hover {
  border: 2px solid red;
}

.package--light {
  background: #d5ffdc;
}

.package--dark {
  background: #0e4f1f;
}

.package a {
  text-decoration: none;
  color: inherit;
  padding: 32px;
}

.package__title {
  font-size: 16px;
}

.package--dark {
  color: white;
}

.package__subtitle {
  font-size: 14px;
  color: #858585;
}

.package a p {
  border: 1px solid black;
  background: white;
  padding: 10px;
}